.navbar
{
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 40px;
    box-sizing: border-box;
    border-color: #ffffff;
}

.navbar-brand
{
    max-width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
}

.nav a
{
    display: block;
    padding: 12px 20px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
}

.nav a:hover {
    border-bottom: 3px solid black;
}
  
.nav a.active {
    border-bottom: 3px solid black;
}