.bg-dark {
    background-color: transparent !important;
}

.bg-dark.scrolled {
    background-color:#26272b !important;
    transition: background-color 200ms linear;
}

.navbar
{
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 40px;
}

.navbar-brand
{
    max-width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.navbar-nav a
{
    display: block;
    padding: 12px 20px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(255,255,255,.7);
}

.navbar-nav a:hover {
    color: #ffffff;
}
  
.navbar-nav a.active {
    font-weight: 600;
}

@media (max-width: 767px) {
    .bg-dark {
      background: #26272b !important;
    }

    .navbar-nav{
        padding: 10px 5px;
        text-align: center;
        height: 100vh;
    }

    .navbar {
        padding: 10px 20px;
    }
}