#header-background {
    background-image: url(/assets/pics/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-wrap{
    padding: 20% 2%;
}

.header-section .section-wrap-template {
    padding: 3rem 1.5rem;
    text-align: center;
    color: white;
}