<section id="header-background">
    <div class="header-section section-wrap">
        <div class="section-wrap-template">
            <h1>Menu</h1>
        </div>
    </div>
</section>
<div class="menu">
    <div class="menu-categories">
        <button *ngFor="let category of categories" type="button" class="btn btn-black" (click)="onClickCategory(category)">{{ category.name }}</button>
    </div>
    <div class="container">
        <div>
            <h1> {{selected?.name}} </h1>
            <p> {{selected?.description}} </p>
            <div *ngFor="let product of selected?.products">
                <h3>
                    <span> {{product?.name}} </span>
                    <span class='dots'></span>
                    <span> ${{product?.price}} </span>
                </h3>
                <p> {{product?.description}} </p>
            </div>
        </div>
    </div>
</div>


