<section id="header-background">
    <div class="header-section section-wrap">
        <div class="section-wrap-template">
            <h1>Menu</h1>
        </div>
    </div>
</section>
<div class="menu">
    <div class="menu-categories-border">
        <div class="menu-categories">
            <button *ngFor="let category of categories" class="draw" (click)="onClickCategory(category)" [class.active]="selected === category" >{{ category.name }}</button>
        </div>
    </div>
    
    <div class="container">
        <div>
            <h1> {{selected?.name}} </h1>
            <p> {{selected?.description}} </p>
            <div *ngFor="let product of selected?.products">
                <h3>
                    <span> {{product?.name}} </span>
                    <span class='dots'></span>
                    <span> ${{product?.price}} </span>
                </h3>
                <p> {{product?.description}} </p>
            </div>
        </div>
    </div>
    <div class="menu-notice">
        <div>
            <p>* Please alert your server to any food allergies before ordering.</p>
            <p>* Please ask for our Daily Specials.</p>
            <p>* We use extra virgin olive oil and guarantee no MSG.</p>
            <p>* No extra charge on substitution of brown rice for white rice.</p>
            <p>* Additional charge may apply to any extra requests for sauce, dressing, food ingredients, utensil & etc.</p>
            <p>* Prices are subject to changes without notice.</p>
        </div>
    </div>
</div>


