<section id="header-background">
    <div class="header-section section-wrap">
        <div class="section-wrap-template">
            <h1>Japanese Cuisine</h1>   
            <button type="button" class="btn btn-outline-light">Browse Menu</button>
        </div>
    </div>
</section>

<section id="about">
    <div class="section-wrap">
        <div class="section-wrap-template">
            <h1>Home works!</h1>   
            <p> random text <br> random text</p>
            <button type="button" class="btn btn-outline-light">Light</button>
        </div>
    </div>
    
    <div class="section-wrap">
        <div class="section-wrap-template">
            <h1>Home works!</h1>   
            <p> random text <br> random text</p>
            <button type="button" class="btn btn-outline-light">Light</button>
        </div>
    </div>
    
    <div class="section-wrap">
        <div class="section-wrap-template">
            <h1>Home works!</h1>   
            <p> random text <br> random text</p>
            <button type="button" class="btn btn-outline-light">Light</button>
        </div>
    </div>

    <div class="section-wrap">
        <div class="section-wrap-template">
            <h1>Home works!</h1>   
            <p> random text <br> random text</p>
            <button type="button" class="btn btn-outline-light">Light</button>
        </div>
    </div>

    <div class="section-wrap">
        <div class="section-wrap-template">
            <h1>Home works!</h1>   
            <p> random text <br> random text</p>
            <button type="button" class="btn btn-outline-light">Light</button>
        </div>
    </div>
</section>
